[user]
        name = JP Robinson
        email = john.paul.robinson@gmail.com
[url "https://github.com/"]
        insteadOf = git://github.com/
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
